<%= javascript_include_tag "video" %>
<%= javascript_include_tag "videojs.hotkeys" %>
<%= javascript_include_tag "canvas-to-blob.min" %>
<%= javascript_include_tag "show_video" %>

<p id="notice"><%= notice %></p>
<div class="center-full">
  <video id="main-video"  class="video-js vjs-default-skin vjs-big-play-centered" height="100%" width="100%" controls poster="<%= Rails.root.join(@video.thumbnail) %>" data-setup="{}">
    <source src="<%= Rails.root.join(@video.path, @video.filename) %>" type="video/mp4">
     <track kind="captions" src="<%= Rails.root.join(@video.subtitle_path, @video.subtitle_filename) %>" srclang="en" label="English" default>

  </video>
</div>

<div class="autoplay">
  <button type="button" class="btn btn-default autoplay-btn">Autoplay</button>
  <div class="screenshot-button">
    <%= form_for @screenshot, :html => { :multipart => true, :'data-type' => 'json'}, :remote => true do |f| %> 
        <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
      <div class="field">
        <% f.label :data_uri %>
        <%= f.hidden_field :data_uri %>
        <% f.label :season %>
        <%= f.hidden_field :season, :value => @video.season %>
        <% f.label :episode_number %>
        <%= f.hidden_field :episode_number, :value => @video.episode_number %>
        <% f.label :time %>
        <%= f.hidden_field :time %>
      </div>
      <div class="actions">
        <%= f.button class: 'btn btn-default', data: {disable_with: "Loading..."}  %>
      </div>
    <% end %>
  </div>
  <button class="btn btn-default" id="start-gif">start GIF frames</button>
  <button class="btn btn-default" id="start-subtitle-gif">start subtitle GIF frames</button>
</div>



<% if @prev_video %>
<span class="prev">
  <h5>Prev Video</h5>
  <%= link_to  image_tag(@prev_video.thumbnail, width: "360"), @prev_video %>
  <br />
  <%= link_to "prev video S#{@prev_video.season}E#{@prev_video.episode_number} - #{@prev_video.title}", @prev_video, class: "prev-link" %>
</span>
<% end %>

<% if @next_video %>
<span class="next">
  <h5>Next Video</h5>
  <%= link_to image_tag(@next_video.thumbnail, width: "360"), @next_video %>
  <br />
  <%= link_to "S#{@next_video.season}E#{@next_video.episode_number} - #{@next_video.title}", @next_video, class: "next-link" %>
</span>
<% end %>

<p class="center">
  <strong>Title:</strong>
  <%= @video.title %>
</p>

<p class="center">
  <strong>Season:</strong>
  <span id="season" data-season="<%= @video.season %>"><%= @video.season %></span>
</p>

<p class="center">
  <strong>Episode number:</strong>
  <span id="episode_number" data-episode-number="<%= @video.episode_number %>"><%= @video.episode_number %></span>
</p>

<p class="center">
  <strong>Thumbnail:</strong>
  <%= @video.thumbnail %>
  <%= link_to 'thumbnail', @video.thumbnail %>
</p>

<p class="center">
  <strong>Path:</strong>
  <%= @video.path %>
</p>

<p class="center">
  <strong>Filename:</strong>
  <%= @video.filename %>
</p>

<div id="output"></div>

