<p id="notice"><%= notice %></p>
<div class="center-full">
  <video id="main-video"  class="video-js vjs-default-skin vjs-big-play-centered" height="100%" width="100%" controls poster="<%= Rails.root.join(@video.thumbnail) %>" data-setup="{}">
    <source src="<%= Rails.root.join(@video.path, @video.filename) %>" type="video/mp4">
  </video>
</div>

<button type="button" class="btn btn-default autoplay-btn">Autoplay</button>

<% if @prev_video %>
<span class="prev">
  <h5>Prev Video</h5>
  <%= link_to  image_tag(@prev_video.thumbnail, width: "360"), @prev_video %>
  <br />
  <%= link_to "prev video S#{@prev_video.season}E#{@prev_video.episode_number} - #{@prev_video.title}", @prev_video, class: "prev-link" %>
</span>
<% end %>

<% if @next_video %>
<span class="next">
  <h5>Next Video</h5>
  <%= link_to image_tag(@next_video.thumbnail, width: "360"), @next_video %>
  <br />
  <%= link_to "S#{@next_video.season}E#{@next_video.episode_number} - #{@next_video.title}", @next_video, class: "next-link" %>
</span>
<% end %>

<p class="center">
  <strong>Title:</strong>
  <%= @video.title %>
</p>

<p class="center">
  <strong>Season:</strong>
  <%= @video.season %>
</p>

<p class="center">
  <strong>Episode number:</strong>
  <%= @video.episode_number %>
</p>

<p class="center">
  <strong>Thumbnail:</strong>
  <%= @video.thumbnail %>
  <%= link_to 'thumbnail', @video.thumbnail %>
</p>

<p class="center">
  <strong>Path:</strong>
  <%= @video.path %>
</p>

<p class="center">
  <strong>Filename:</strong>
  <%= @video.filename %>
</p>


<%= javascript_include_tag "show_video" %>
<%= javascript_include_tag "video" %>
